:root { 
--blue_900:#0934c5; 
--gray_900:#15131d; 
--indigo_A200:#4e64e3; 
--gray_101:#f5f5fa; 
--gray_300:#dbdbf2; 
--gray_100:#f4f5f9; 
--bluegray_900:#232433; 
--pink_A200:#ff3b76; 
--bluegray_600:#656b78; 
--indigo_A700:#2246dc; 
--pink_A400:#ff0c5c; 
--bluegray_300:#96a0b2; 
--pink_A700:#d80057; 
--white_A700:#ffffff; 
--bluegray_902:#242533; 
--bluegray_901:#1c283f; 
}