
 @font-face { font-style : bold; src: url("assets/fonts/aneklatinsemibold600.ttf"); font-family : "Anek Latin"; font-weight : 600;  }
 @font-face { font-style : normal; src: url("assets/fonts/interregular400.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/interbold700.ttf"); font-family : "Inter"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/aneklatinbold700.ttf"); font-family : "Anek Latin"; font-weight : 700;  }